package vortex

import "github.com/jonny7/maelstrom/cmd/maelstrom/internal/service/agent/dto"
import "fmt"

templ Run(runs []dto.Vortex) {
	<div class="bg-gray-100 mt-4 mx-4 p-4 rounded-lg">
		<div class="flex flex-col">
			<div class="-m-1.5 overflow-x-auto">
				<div class="p-1.5 min-w-full inline-block align-middle">
					<div class="overflow-hidden">
						<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
							<thead>
							<tr>
								<th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">ID</th>
								<th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">URL</th>
								<th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Running Time</th>
								<th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Jobs</th>
								<th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Workers</th>
								<th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Consumer Buffer</th>
								<th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Result Buffer</th>
								<th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Action</th>
							</tr>
							</thead>
							<tbody>
							for _, run := range runs {
							<tr class="odd:bg-white even:bg-gray-100 dark:odd:bg-slate-900 dark:even:bg-slate-800">
								<td class="px-6 py-4 whitespace-nowrap text-sm text-start font-medium text-gray-800 dark:text-gray-200">{ run.ID }</td>
								<td class="px-6 py-4 whitespace-nowrap text-sm text-start text-gray-800 dark:text-gray-200">{ run.Host}</td>
								<td class="px-6 py-4 whitespace-nowrap text-sm text-start text-gray-800 dark:text-gray-200">{ run.RunningTime }</td>
								<td class="px-6 py-4 whitespace-nowrap text-sm text-start text-gray-800 dark:text-gray-200">{ run.Jobs}</td>
								<td class="px-6 py-4 whitespace-nowrap text-sm text-start text-gray-800 dark:text-gray-200">{ run.Workers}</td>
								<td class="px-6 py-4 whitespace-nowrap text-sm text-start text-gray-800 dark:text-gray-200">{ run.ConsumerBuffer}</td>
								<td class="px-6 py-4 whitespace-nowrap text-sm text-start text-gray-800 dark:text-gray-200">{ run.ResultBuffer}</td>
								<form hx-delete={ fmt.Sprintf("/vortex/%s", run.ID) } hx-target="this" hx-swap="outerHTML">
								<td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
									<button type="submit" class="focus:outline-none text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-purple-indigo">Stop</button>
								</td>
								</form>
							</tr>
							}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div></div>
}

templ Vortex() {
<form hx-post="/vortex" hx-target="this" hx-swap="outerHTML" class="w-1/3">
	<div class="my-2">
		<label for="url" class="block text-lg font-semibold font-medium leading-6 text-gray-900">URL</label>
		<input type="url" name="url" class="text-center w-20  block w-full rounded-md border-0 py-1.5 t-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
	</div>
	<div class="my-2">
		<label for="jobs" class="block text-lg font-semibold font-medium leading-6 text-gray-900">Jobs</label>
		<input type="number" name="jobs" class="text-center w-20  block w-full rounded-md border-0 py-1.5 t-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
	</div>
	<div class="my-2">
		<label for="workers" class="block text-lg font-semibold font-medium leading-6 text-gray-900">Workers</label>
		<input type="number" name="workers" class="text-center w-20  block w-full rounded-md border-0 py-1.5 t-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
	</div>
	<div class="my-2">
		<label for="consumer_buffer" class="block text-lg font-semibold font-medium leading-6 text-gray-900">Consumer Buffer</label>
		<input type="number" name="consumer_buffer" class="text-center w-20  block w-full rounded-md border-0 py-1.5 t-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
	</div>
	<div class="my-2">
		<label for="result_buffer" class="block text-lg font-semibold font-medium leading-6 text-gray-900">Result Ruffer</label>
		<input type="number" name="result_buffer" class="text-center w-20  block w-full rounded-md border-0 py-1.5 t-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
	</div>
	<button type="submit" class="focus:outline-none text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-purple-indigo">New Run</button>
</form>
}
